schemas/intersection.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ct="http://smarttraffic/common"
           targetNamespace="http://smarttraffic/intersection"
           xmlns="http://smarttraffic/intersection"
           elementFormDefault="qualified">

    <xs:import namespace="http://smarttraffic/common"
               schemaLocation="restrictions.xsd"/>

    <xs:element name="Intersection">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="IntersectionID"
                            type="ct:IntersectionIDType"/>

                <xs:element name="Location"
                            type="xs:string"/>

                <xs:element name="Roads">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="Road"
                                        maxOccurs="4"
                                        minOccurs="1">

                                <xs:complexType>

                                    <xs:sequence>

                                        <xs:element name="RoadID"
                                                    type="ct:RoadIDType"/>

                                        <xs:element name="TrafficLightID"
                                                    type="ct:TrafficLightIDType"/>

                                        <xs:element name="HasPedestrianCrossing"
                                                    type="xs:boolean"/>

                                    </xs:sequence>

                                </xs:complexType>

                            </xs:element>

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

</xs:schema>
